@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>To our system for sending of gifts in the form of online credits!</h3>
    <img src="GiftsImg.jpg" alt="Gifts image" width="1020" height="755">
</div>
